
 body{
  background-color: #eaecee;
  width:92%;
 }
.App {
  text-align: center;
  /*background: rgba(204, 204, 204, 0.5);*/
}


.App-header {
  background-color: #eaecee;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #15324B;
  font-size: 20px;
  margin: 0px;
}

.App-title {
  font-size: 1.8em;
}

tr{
  
  background-color: white;
}

.list{
  margin-right: 15px;
  display:flex;
  float:right;
}
.c-list{
  width:950px;
}
.table{
  height: 80px;
  width: 100%;
  table-layout: fixed;
}

.form-group{
  align-self: center;
}