
 body{
  width:92%;
 }
.App {
  text-align: center;
  /*background: rgba(204, 204, 204, 0.5);*/
}


.App-header {
  background-color: white;
  padding: 2px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #15324B;
  font-size: 20px;
  margin: 0px;
}

.App-title {
  font-size: 1.8em;
  color: #15324B;
}

th,
tr{
  text-align: center;
  background-color: rgb(240, 240, 240);
}


.list{
  color: #15324B;
  margin-right: 15px;
  display:flex;
  float:right;
}
.c-list{
  width:950px;
}
.table{
  height: 80px;
  width: 100%;
  table-layout: fixed;
}

.collapsible .content {
  padding: 6px;
  background-color: rgb(240, 240, 240);
  font-size: 14px;
}
.collapsible .header {
  background-color: rgb(200, 200, 200);
  padding: 6px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid rgb(220, 220, 220);
}
.collapsible .header .title {
  font-weight: 400;
}
.preferences label {
  display: block;
  padding-bottom: 4px;
}